@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.svg#icomoon') format('svg'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* Reset */
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Needed for a fluid height: */
html, body { height: 100%; }

body {
    background-image: url(/images/cover33-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
	font-family: 'Lato', Calibri, Arial, sans-serif;
    /*color: #47a3da;
	overflow-x: hidden;*/
}