@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

/* Reset */
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Needed for a fluid height: */
html, body { height: 100%; }

body {
    background-image: url(/images/cover33-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
	font-family: 'Lato', Calibri, Arial, sans-serif;
    /*color: #47a3da;
	overflow-x: hidden;*/
}

.ucf {
    background-image: url(/images/ucflogo.png);
    background-repeat: no-repeat;
    background-size: 310px;
    margin-top: 13px;
    
    height: 25px;
    text-indent: -999px;
    z-index: 100;
}