@import url(http://fonts.googleapis.com/css?family=Cinzel:400,900|Cinzel+Decorative:400,900|Comfortaa);

/* Reset */
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Needed for a fluid height: */
html, body { height: 100%; }

body {
    //background-image: url(images/main-bg.jpg);
    //background-repeat: no-repeat;
    //background-size: cover;
    //background-attachment: fixed;
    
	font-family: 'georgia', Calibri, Arial, sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'comfortaa', Calibri, Arial, sans-serif;
}


/* Custom */

.main-title {
    font-family: 'cinzel decorative', Calibri, Arial, sans-serif;
    font-weight: bold;
    font-size: 4.5em;
    line-height: 0.93em;
    letter-spacing: 1px;
}

.title h1, .title h2, .title h3, .title h4 {
    font-family: 'cinzel', Calibri, Arial, sans-serif;
    font-weight: 400;
}

.navbar {
    //background-color: rgba(255,255,255,0.5);
    background-color: #ffcc00;
    border-bottom: 1px solid #cc9900;
    border-radius: 0;
}

.ucf {
    background-image: url(../images/ucflogo.png);
    background-repeat: no-repeat;
    background-size: 310px;
    margin-top: 13px;
    
    
    width: 310px;
    height: 25px;
    text-indent: -999px;
    
    position: absolute;
    top: 0;
    left: 1%;
    z-index: 100;
}

.btn {
    width: 100px;   
}

.btn-xlg {
    width: 200px;
    font-size: 2.3em;
}

header {
    
    margin-top: 0;
    position: relative;
    
    padding: 20px 0;
    background-image: url(../images/main-bg.png);
    background-repeat: no-repeat;

    background-size: cover;
    color: #fff;
}

section {
    //background-color: rgba(30,30,30,0.8);
    
    padding: 20px 0;
    border-bottom: 1px solid #eee;
    box-shadow: 2px 5px 10px #ccc;
}

section#featurespeaker {
    background: rgba(245, 245, 245, 0.9);
}

section#thoughtleaders {
    background: rgba(255, 255, 255, 0.9);
}

section#seriesvideos {
    background: rgba(245, 245, 245, 0.9);
}

section#facultyvideo {
    background: rgba(255, 255, 255, 0.9);
}

.profile-photo {
    border: 3px solid #ddd;
    width: 80%;
}

footer {
    background: rgba(245, 245, 245, 0.9);
    background: #ccc;
    min-height: 100px;
}

.profile {
    border: 6px solid #cc9900;
    margin: 10px;
    max-width: 200px;
    float: right;
}

.btnPrev, .btnNext {
    //background: rgba(255,255,255,.3);
    //padding: .4em .55em;
    //border: 2px solid white;
    //border-radius: 50px;
    text-decoration: none;
    font-size: 2.8em;
    color: #fff;
    z-index: 100;
}